<aside class="left-sidebar">
    <div class="scroll-sidebar">
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="user-profile">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                        <img src="../assets/images/users/profile.png" alt="user" />
                        <span class="hide-menu">Steave Jobs </span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li routerLink="/auth/login"><a href="javascript:void()">Logout</a></li>
                    </ul>
                </li>
                <li class="nav-devider"></li>
                <li class="nav-small-cap">MENÚ</li>
                <li routerLink="./dashboard" routerLinkActive="active"> 
                    <a class="waves-effect waves-dark" aria-expanded="false">
                        <i class="mdi mdi-gauge"></i>
                        <span class="hide-menu">Dashboard</span>
                    </a>
                </li>
                <li routerLink="./usuarios" routerLinkActive="active"> 
                    <a class="waves-effect waves-dark" aria-expanded="false">
                        <i class="mdi mdi-account-multiple"></i>
                        <span class="hide-menu">Usuarios</span>
                    </a>
                </li>
                <li routerLink="./perfiles" routerLinkActive="active"> 
                    <a class="waves-effect waves-dark" aria-expanded="false">
                        <i class="mdi mdi-account-card-details"></i>
                        <span class="hide-menu">Perfiles</span>
                    </a>
                </li>
                <li routerLink="./sucursales" routerLinkActive="active"> 
                    <a class="waves-effect waves-dark" aria-expanded="false">
                        <i class="mdi mdi-store"></i>
                        <span class="hide-menu">Sucursales</span>
                    </a>
                </li>
                <li routerLink="./ventas" routerLinkActive="active"> 
                    <a class="waves-effect waves-dark" aria-expanded="false">
                        <i class="mdi mdi-sale"></i>
                        <span class="hide-menu">Ventas</span>
                    </a>
                </li>
                <li routerLinkActive="active"> 
                    <a class="has-arrow waves-effect waves-dark" aria-expanded="false">
                        <i class="mdi mdi-book-open-variant"></i>
                        <span class="hide-menu">Catálogos</span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li routerLink="./catalogos/configuracion">
                            <a class="cursor-pointer">Configuración</a>
                        </li>
                        <li>
                            <a class="has-arrow cursor-pointer">Permisos</a>
                            <ul aria-expanded="false" class="collapse">
                                <li routerLink="./catalogos/permisos/usuario-permisos">
                                    <a class="cursor-pointer">Usuario Permisos</a>
                                </li>
                                <li routerLink="./catalogos/permisos/perfil-permisos">
                                    <a class="cursor-pointer">Perfil Permisos</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside>