<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Menú</div>
                <a class="nav-link"  routerLink="./dashboard" routerLinkActive="active">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Dashboard
                </a>
                <a class="nav-link" routerLink="./usuarios" routerLinkActive="active">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Usuarios
                </a>
                <a class="nav-link"  routerLink="./perfiles" routerLinkActive="active">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Perfiles
                </a>
                <a class="nav-link"  routerLink="./sucursales" routerLinkActive="active">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Sucursales
                </a>
                <a class="nav-link"  routerLink="./ventas" routerLinkActive="active">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Ventas
                </a>
                <ul>
                    <li class="nav-link" routerLinkActive="active">
                        <a>Ca</a>
                        <ul>
                            <li>
                                <a class="nav-link" routerLink="./catalogos/configuracion" routerLinkActive="active">Conf</a>
                            </li>
                            <li class="nav-link" routerLinkActive="active">
                              <a>P</a>
                              <ul>
                                <li class="nav-link" routerLinkActive="active">
                                  <span routerLink="./catalogos/permisos/usuario-permisos">UP</span>
                                </li>
                                <li class="nav-link" routerLinkActive="active">
                                  <span routerLink="./catalogos/permisos/perfil-permisos">PP</span>
                                </li>
                              </ul>
                            </li>
                          </ul>
                    </li>
                </ul>
                <!-- <a data-bs-toggle="collapse" data-bs-target="#collapsePages" 
                    aria-expanded="false" aria-controls="collapsePages" 
                    [class]="(rlaConf.isActive || rlaPerU.isActive || rlaPerP.isActive) ? 'nav-link cursor-pointer active' : 'nav-link collapsed cursor-pointer'">
                    <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                    Catálogos
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion"
                    [class]="(rlaConf.isActive || rlaPerU.isActive || rlaPerP.isActive) ? 'collapse show' : 'collapse'">
                    <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                        <a class="nav-link" routerLink="./catalogos/configuracion" routerLinkActive="active" #rlaConf="routerLinkActive">Configuración</a>
                        <a data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" 
                        aria-expanded="false" aria-controls="pagesCollapseError"
                        [class]="(rlaPerU.isActive || rlaPerP.isActive) ? 'nav-link cursor-pointer active' : 'nav-link collapsed cursor-pointer'">
                            Permisos
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages"
                            [class]="(rlaPerU.isActive || rlaPerP.isActive) ? 'collapse show' : 'collapse'">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" routerLink="./catalogos/permisos/usuario-permisos" routerLinkActive="active" #rlaPerU="routerLinkActive">Usuario Permisos</a>
                                <a class="nav-link" routerLink="./catalogos/permisos/perfil-permisos" routerLinkActive="active" #rlaPerP="routerLinkActive">Perfil Permisos</a>
                            </nav>
                        </div>
                    </nav>
                </div> -->
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            Start Bootstrap
        </div>
    </nav>
</div>